# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=memorix
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RSA
RSA_PRIVATE_KEY_PATH=.keys/private.key
RSA_PUBLIC_KEY_PATH=.keys/public.key

# JWT
JWT_ACCESS_TOKEN_LIFESPAN=15m
JWT_REFRESH_TOKEN_LIFESPAN=7d
JWT_AUDIENCE=memorix
JWT_ISSUER=http://localhost:8080

# CORS
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=*